

html,

body {
background: #808080;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #3fada8, #808080);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #3fada8, #808080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




}

h1 {
  font-size: 50px;
}
a {
  font-size: 15px;
}

/* index.html -------------------------------------------------------------  */

.label {
  font-size: 25px;
}

.checkboxList {
    margin: 50px 20px;
    color: black;
}

.checkboxListThree {
  margin: 90px 20px;
  color: black;
}

/*p {
  font-size: 25px;
}

.categoriesTitle {
 font-size: 40px;
}

.container-fluid > .col-8 {
    display: inline-block;

}

.container-fluid {
    margin: 0px auto;
}

.col {
  padding: 0;
}

.createTitle {

}

.nav {
  padding-left: 900px;
  cursor: pointer;
}

.navigation {

}

.choiceOneBtn {

}

.showBeliefButton {

}*/

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.bigger-checklist {
  font-size: 15px;
}


/*
 * Base structure
 */



/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
/*  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }*/
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 42rem;
  }
}

.height-full {
  height: 100vh;
}


.cultureIcon {
  margin-left: 640px;
    margin-right: 20px;
    width: 75%;
}
/* categories.html */
/* -------------------------------------------------------------------------- */

.bubble {
   color: red;
   font-size: 20px;
}

.center_div {
  margin: 0 auto;
  width: 80%
}

.Monospace{
  font-weight:normal;
 font-family:Monospace;
 font-size: 20px;
}
.Impact {
  font-weight: normal;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 20px;
}
.comic {
  font-weight: normal;
  font-family: Comic Sans MS, cursive, sans-serif;
  font-size: 20px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #DCDCDC;
    color: black;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px;

}

/* The container <div> - needed to position the dropdown content */
.dropdown{
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* signin.html signup.html ------------------------------------------------------------------------------*/

.redirectSignup {
  color: #4fff;
}
.redirectSignin {
  color: #4fff;
}
