
  <div ng-controller="categoriesController">
   <h1>Categories</h1>
    
      <h2>Which three do you admire most?</h2>

      <label ng-repeat="category in data">
      <input type="checkbox" checklist-model="choices" checklist-value="category.name" checklist-change="checkChanged(category)" ng-disabled="checked===limit">{{category.name}}</label>

      <p>{{choices}}</p>

     <button type="submit" ng-click="grabResponseAndShowQuestionTwo()" class="btn btn-danger btn-lg">Submit</button>

     <div ng-show="questionTwoDiv">
       <label ng-repeat="category in choices">
       <input type="checkbox" checklist-model="primary" checklist-value="category">{{category}}</label>

       <p>{{primary}}</p>

       <button type="submit" ng-click="grabResponseAndShowBeliefs()" class="btn btn-danger btn-lg">Submit</button>
     </div>

     <br/>
     <br/>

     <div ng-show="sevenBeliefsDiv">

  <div class="col-sm-12">
    Hello, {{name}}!
  </div>
  
  <div class="col-sm-6" ng-repeat="line in NametagConfig.NametagLines">
    <div class="input-group">
      <span class="input-group-addon">Font Family</span>
      <select class="form-control" ng-model="line.Font" ng-change="selectFont(line, $index)" ng-options="f.family as f.family for f in fontFamilies">
        <option value="">Select Font</option>
      </select>
    </div>
  </div>
  
  <p class="col-sm-6" id="LineStyle{{$index}}" ng-repeat="text in NametagConfig.NametagLines track by $index">{{ text.Label }}</p>


<!--         <div class="input-group">
        <span class="input-group-addon">Choose Your Font</span>
          <select class="form-control" ng-model="belief.Font" ng-change="selectFont(belief, $index)" ng-options="f.family as f.family for f in fontFamilies">
            <option value="">Select Font</option>
          </select>
        </div>

          <p id="LineStyle{{$index}}" ng-repeat="belief in sevenBeliefs track by $index">{{$index+1}}.  {{belief}}</p> -->

    </div>


    

<!--       <div class="col-sm-6" ng-repeat="line in NametagConfig.NametagLines">
        <div class="input-group">
          <span class="input-group-addon">Font Family</span>
          <select class="form-control" ng-model="font.Font" ng-change="selectFont(line, $index)" ng-options="f.family as f.family for f in fontFamilies">
            <option value="">Select Font</option>
          </select>
        </div>
      </div>
      
      <p class="col-sm-6" id="LineStyle{{$index}}" ng-repeat="text in NametagConfig.NametagLines track by $index">{{ text.Label }}</p>
    </div> -->


  </div>







