<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container height-full">
      <div class="masthead clearfix">
        <div class="inner">
          <div class="inner cover">
            <div class="beliefsContainer" ng-controller="categoriesController">
              <h2>Your Cultural Summary</h2>
              <br/>
              <br/>
              <nav class="beliefsNav">
                  <div class="dropdown">
                    <button class="dropbtn">Change the Font</button>
                    <div class="dropdown-content">
                      <div class="checkboxRed">
                        <label>
                          <input type="checkbox" ng-model="insane">
                          red and big!
                        </label>
                      </div>
                      <div class="checkboxMonospace">
                        <label>
                          <input type="checkbox" ng-model="monoSpace">
                          MonoSpace
                        </label>
                      </div>
                      <div class="checkboxImpact">
                        <label>
                          <input type="checkbox" ng-model="Impact">
                          Impact
                        </label>
                      </div>
                      <div class="checkboxComic">
                        <label>
                          <input type="checkbox" ng-model="comic">
                          Comic Sans
                        </label>
                      </div>
                    </div>
                  </div>
              </nav>

      <br/>
      <br/>
              <table>
              <tr ng-style="{'font-size': '20px'}" ng-repeat="belief in sevenBeliefs track by $index">
              <td>
              </td>
                <td align="left">
                <span ng-class="{ bubble: insane, Monospace: monoSpace, Impact: Impact, comic: comic }">{{$index+1}}. {{belief}}
                </td>
                <td align="right">
                <button class="cover btn-lg choiceOneBtn" ng-click="getRandomBelief($index);">Change It</button><div ng-show="beliefDiv{{$index}}"><input type="text" name="updateBelief" ng-model="updatedBelief" placeholder="{{sevenBeliefs[$index]}}" ngMaxLength="240" required="String">
                  <button type="submit" ng-click="updateAddedBelief($index, updatedBelief)" class="btn btn-success btn-info updatedAddedBeliefButton">Update</button> </span>
                </td>
                </tr>
            </table>


              <br/>
              <br/>



            <h2>Want to add your own to the list?</h2>

            <br>

              <form>
                <h4>Add A Category</h4>
                <input type="text" name="addUserCategory" ng-submit="addUserCategories()">
                <button class="btn-success">Add Category</button>
              </form>

            <br>
            <h4>Add A Belief</h4>
            <div class="addToSevenBeliefs">
              <input type="text" name="addBelief" ng-model="addedBelief" ngMaxLength="240" required="String">
           <!--  <button class="btn-danger" ng-click="removeCategory(data, category)">Remove</button> -->
                <button type="submit" ng-click="grabResponseAndAddToSevenBeliefs()" class="btn-success">Submit</button>
                <br/>
                <br/>
                <br/>
<!--                 <h1>When you're ready, click below and we'll create an image of your cultural summary</h1>
                <button type="submit" ng-click="makeImage()" class="btn-primary" >Submit</button> -->




            </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
