<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container height-full">
      <div class="masthead clearfix">
        <div class="inner">
          <div class="inner cover">
            <h1 class="cover-heading">Of those, what's the most important of all?</h1>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>            
           <div ng-controller="categoriesController">

             <label ng-repeat="category in choices">

               <input class="checkboxList" type="checkbox" checklist-model="primary" checklist-value="category">{{category}}

             </label>

             <br>

             <button type="submit" ng-click="grabResponseAndShowBeliefs()" class="btn btn-success btn-info showBeliefButton">Submit</button>

           </div>
          </div>

        </div>
      </div>
    </div>
</div>