<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container height-full">
      <div class="masthead clearfix">
        <div class="inner">

          <div class="inner cover">
            <h1 class="cover-heading">Which three are most important to you?</h1>
            <br/>
            <p class="lead">Part of what makes us... well, us, is the set the ideas that surround us as we grow. Our cultural priorities play a big role in shaping our identities</p>
          </div>

          <div ng-controller="categoriesController">

            <label class="checkboxList bigger-checklist" ng-repeat="category in data">

              <input type="checkbox" checklist-model="choices" checklist-value="category.name" class="checkboxList" checklist-change="checkChanged(name)" ng-disabled="checked===limit">{{category.name}}

            </label>

            <br/>

            <p class="lead">
              <button type="submit" ng-click="grabResponseAndShowQuestionTwo()" class="btn btn-lg btn-secondary">Submit</button>
            </p>

<!--             
 -->
          </div>
        </div>
      </div>
    </div>
</div>



 


